@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --ice-blue: #e6f7ff;
  --light-green: #dfffe6;
  --accent: royalblue;
  --green: #06c167;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  background: linear-gradient(to right, var(--ice-blue), var(--light-green));
  font-family: "Inter", sans-serif !important;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  padding: 10px 30px;
  background-color: var(--light-green);
}
.navbar .logo {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--green);
}
.navbar .nav_links {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.navbar .nav_links li {
  list-style: none;
}
.navbar .nav_links li a {
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  color: var(--green);
}
.navbar .nav_links li a:hover {
  color: royalblue;
  font-size: 30px;
  font-weight: bold;
}
.navbar .hamburger {
  display: none;
  padding: 2px 7px;
  cursor: pointer;
}
.navbar .hamburger .bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: var(--green);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .navbar .hamburger {
    display: block;
  }
  .navbar .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .navbar .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar ul {
    position: fixed;
    right: -100%;
    top: 0px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 0.3s ease;
    background-color: rgb(240, 255, 255, 0.5);
    backdrop-filter: blur(5px);
  }
  .navbar ul li {
    margin: 10px;
  }
  .navbar ul.active {
    right: 0;
  }
  .navbar .nav_links li a:hover {
    font-size: 50px;
  }
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
  flex-wrap: wrap;
}
.hero-img img {
  width: 350px;
  border-radius: 12px;
  object-fit: cover;
}
.hero h1 {
  font-size: 3rem;
  color: var(--green);
  margin-bottom: 15px;
}
.hero h1 span {
  color: var(--green);
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
  color: #222;
}
.hero .btn {
  text-decoration: none;
  background-color: var(--green);
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.hero .btn:hover {
  background-color: var(--accent);
}
@media (max-width: 768px) {
  .hero-img img {
    width: 250px;
    margin-bottom: 20px;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .hero p {
    font-size: 1rem;
  }
}

/* ABOUT */
.about {
  padding: 60px 20px;
}
.about-container {
  max-width: 1200px;
  margin: 0 auto;
}
.about-text h2 {
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 20px;
}
.about-text p {
  font-size: 1.1rem;
  color: #222;
  margin-bottom: 25px;
  line-height: 1.6;
}
.about-text p span {
  color: var(--accent);
  font-weight: bold;
}
.about-text .btn {
  text-decoration: none;
  background-color: var(--green);
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.about-text .btn:hover {
  background-color: var(--accent);
}
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* SKILLS */
.skills {
  padding: 60px 20px;
}
.skills-container {
  max-width: 1000px;
  margin: 0 auto;
}
.skills-container h2 {
  font-size: 2rem;
  color: var(--green);
  text-align: center;
  margin-bottom: 40px;
}
.skill {
  margin-bottom: 25px;
}
.skill p {
  font-weight: 600;
  margin-bottom: 8px;
  color: #222;
}
.skill-bar {
  width: 100%;
  height: 20px;
  background-color: var(--ice-blue);
  border-radius: 10px;
  overflow: hidden;
}
.skill-fill {
  height: 100%;
  background-color: var(--accent);
  width: 0;
  border-radius: 10px;
  transition: width 1.5s ease-in-out;
}
.skills-container .skill-fill {
  animation: fillSkill 1.5s forwards;
}
@keyframes fillSkill {
  to {
    width: inherit;
  }
}
@media (max-width: 768px) {
  .skill-bar {
    height: 15px;
  }
}

/* SERVICES */
.services {
  padding: 80px 10%;
  background: #f7f7f7;
}
.services-container h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
}
.service-boxes {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}
.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.12);
}
.service-card .icon {
  font-size: 40px;
  margin-bottom: 15px;
}
.service-card h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

/* PROJECTS */
.projects {
  padding: 60px 20px;
}
.projects-container {
  max-width: 1200px;
  margin: 0 auto;
}
.projects-container h2 {
  font-size: 2rem;
  color: var(--green);
  text-align: center;
  margin-bottom: 40px;
}
.projects-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.project-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 38vw;
}
.project-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.project-card h3 {
  font-size: 1.2rem;
  color: var(--green);
  margin: 15px;
}
.project-card p {
  font-size: 0.95rem;
  color: #222;
  margin: 0 15px 15px 15px;
}
.project-card h3 a {
  text-decoration: none;
  color: var(--green);
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
@media (max-width: 768px) {
  .project-card img {
    height: 150px;
  }
  .project-card {
    width: 80vw;
  }
}

/* CONTACT */
.contact {
  padding: 70px 20px;
}
.contact-container {
  max-width: 1100px;
  margin: auto;
}
.contact h2 {
  text-align: center;
  font-size: 2rem;
  color: var(--green);
  margin-bottom: 40px;
}
/* flex based contact */
.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.contact-info,
.contact-form {
  flex: 1 1 45%;
}
.contact-info h3 {
  color: var(--green);
  font-size: 1.5rem;
}
.contact-item {
  margin: 20px 0;
}
.contact-item h4 {
  font-size: 1.1rem;
  color: #000;
}
.contact-item a,
.contact-item p {
  color: #333;
  font-size: 0.95rem;
  text-decoration: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--green);
}
.contact-form button {
  align-self: start;
  background-color: #93e2bc;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
.contact-form button:hover {
  background-color: var(--accent);
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .contact-info,
  .contact-form {
    flex: 1 1 100%;
  }
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  padding: 20px 10%;
  text-align: center;
  font-size: 0.95rem;
  margin-top: 40px;
}
